.console {
    border: solid;
    display: flex;
    flex-direction: row !important;
}
.items {
    order: 0;
    display: flex;
    flex-direction: row !important;
    width: 100%;
    margin: 1%;
    padding: 1%;
}

.console-button-div {
    margin-left: auto;
}

.console-button {
    margin:auto;
    padding: 6px 20px;
    margin: 5% 2%;
    font-family:helvetica;
    font-size: 12px;
    font-weight: 10;
    color:#fff;
    background: #587286;
    border:0;
    font-weight:100;
}
.console-button:hover{
    background: #3B5C76;
}
