.console {
    border: solid;
    display: flex;
    flex-direction: row !important;
    padding: 1%;
    margin: 1%;
}

.investment-wrapper {
    display: flex;
    order: 0;
    flex-direction: row !important;
    width: 100%;

    .list-items {
        margin: 2% 0;
        padding: 2% 0;
    }
}

ul {
    width: 100%;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
  }